@media screen and (max-height: 480px) {
  html {
    background-color: blue;
  }
  .info-header,
  .garden-header,
  .upload-header-p {
    visibility: hidden;
  }
  .header {
    width: 100%;
    height: 65px;
    background-color: #8bc34a;
    text-align: center;
    font-size: 40px;
    justify-content: baseline;
    align-items: center;
    font-family: orange;
    font-size: 60px;
    display: flex;
  }
}
